<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question {{ question_num }}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Question {{ question_num }}</h1>
      <h5>{{ question['question'] | safe }}</h5>

      <form method="POST" action="/show_question">
        <input
          type="hidden"
          name="correct_answer"
          value="{{ question['correct_answer'] }}"
        />
        {% set options = question['incorrect_answers'] +
        [question['correct_answer']] %} {% for option in options %}
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="answer"
            value="{{ option }}"
            required
          />
          <label class="form-check-label">{{ option }}</label>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Next</button>
      </form>
    </div>
  </body>
</html>
