<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question {{ question_num }}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/quiz.css" />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Question {{ question_num }}</h1>
      <h5>{{ question['question'] | safe }}</h5>

      <div class="answer-options">
        {% set options = question['incorrect_answers'] +
        [question['correct_answer']] %} {% for option in options %}
        <form method="POST" action="/show_question" class="">
          <input type="hidden" name="answer" value="{{ option }}" />
          <input
            type="hidden"
            name="correct_answer"
            value="{{ question['correct_answer'] }}"
          />
          <button type="submit" class="btn btn-primary" data-bs-toggle="button">
            {{ option }}
          </button>
        </form>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
